NET "clk" LOC="V10";
NET "sw" LOC="B8";
NET "ch[0]" LOC="A8";
NET "ch[1]" LOC="C4";
NET "ch[2]" LOC="D9";
NET "ch[3]" LOC="C9";
NET "address[7]" LOC="T5";
NET "address[6]" LOC="V8";
NET "address[5]" LOC="U8";
NET "address[4]" LOC="N8";
NET "address[3]" LOC="M8";
NET "address[2]" LOC="V9";
NET "address[1]" LOC="T9";
NET "address[0]" LOC="T10";
NET "anode[0]" LOC="N16";
NET "anode[1]" LOC="N15";
NET "anode[2]" LOC="P18";
NET "anode[3]" LOC="P17";
NET "segment[0]" LOC="T17";
NET "segment[1]" LOC="T18";
NET "segment[2]" LOC="U17";
NET "segment[3]" LOC="U18";
NET "segment[4]" LOC="M14";
NET "segment[5]" LOC="N14";
NET "segment[6]" LOC="L14";
NET "segment[7]" LOC="M13";